################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScoutDemoService/v16
/.vs
/packages
/ScoutDemoService/bin
/ScoutDemoService/obj
/ScoutDemoService.Core/bin/Debug/netcoreapp3.0
/ScoutDemoService.Core/obj
/bin
/obj
/ScoutDemoService.Core/bin/Release/netcoreapp3.0
/ScoutDemoService.Core/bin/Debug/net5.0
